.box{
    width: 100px;
    height: 100px;
    /* margin: 10px; */
}

.one{
    background: #e09f7D;
}

.two{
    background: #ef5d60;
}

.three{
    background: #ec4067;
}

.four{
    background: #a01a7d;
}

.five{
    background: #311847;
}